<div class="main-content">
  <div class="row">
    <div class="panel col-md-12">
      <div class="panel-heading">
        <div class="header">
          <div class="pull-right ">
            <a class="btn btn-primary btn-success btn-top-right" ui-sref="accounts"><i class="fa fa-bank fa-fw"></i> {{ 'index.my_account' | translate }}</a>
          </div>
          
<div class="container">
    <!--
    <div class="button_group">
        <button class="button_label chance_toggle">chance</button>
        &nbsp;
        <div id="chance" class="button_inner_group" style="display: inline-block;">
            <button id="c_min">
                min
                <div class="key">A</div>
            </button>
            <button id="c_minus">
                -1
                <div class="key">S</div>
            </button>
            <button id="c_plus">
                +1
                <div class="key">D</div>
            </button>
            <button id="c_max">
                max
                <div class="key">F</div>
            </button>
        </div>
    </div>
    -->
    <div class="button_group">
        <button class="button_label bet_toggle">bet</button>
        &nbsp;
        <div id="bet" class="button_inner_group" style="display: inline-block;">
            <button id="b_min">
                min
                <div class="key">Z</div>
            </button>
            <button id="b_half" ng-click='enlargeBetSizeBy(1/2)'>
                /2
                <div class="key">X</div>
            </button>
            <button id="b_double" ng-click='enlargeBetSizeBy(2)'>
                x2
                <div class="key">C</div>
            </button>
            <button id="b_max">
                max
                <div class="key">B</div>
            </button>
        </div>
    </div>
<fieldset>
    <div class="row">
        <label for='acount'>from account</label>
        <input id="account" tabindex="-1" ng-model='accountName'>
    </div>
</fieldset>
    <div class="clear"></div>
</div>

<div class="container">
    <fieldset>
        <div class="row">
            <label for='pct_chance'>chance to win</label>
            <input id="pct_chance" tabindex="1" ng-model='chancePercent'>
            <p class="rlabel">%</p>
        </div>
        <div class="row">
            <label class="llabel">payout</label>
            <input id="pct_payout" tabindex="3" ng-model="payouts">
            <p class="rlabel">x</p>

        </div>
    </fieldset>
    <fieldset>
        <div class="row">
            <label for='pct_bet' class="llabel">bet size</label>
            <input id="pct_bet" tabindex="2" ng-model='amount' ng-change='calculateProfit()'>
            <p class="rlabel" translate>jds</p>

        </div>
        <div class="row">
            <label for='pct_profit' class="llabel">profit</label>
            <input id="pct_profit" tabindex="4" ng-model='profit' ng-change='calculateFromProfit()'>
            <p class="rlabel" translate>jds</p>
        </div>
    </fieldset>
    <div class="big">
        <div class="fleft">
            <div class="button_group">
                <div class="button_inner_group">
                    <button id="a_hi" class="play btn btn-primary" ng-click='diceBig()'>
                        <b translate>dice.roll.high</b>
                        <div id="hi" class="target">&gt;&nbsp;{{win.greaterThan}}</div>
                        <div class="key">H</div>
                    </button>
                </div>
                <div class="button_inner_group">
                    <button id="a_lo" class="play btn btn-primary" ng-click='diceSmall()'>
                        <b translate>dice.roll.low</b>
                        <div id="lo" class="target">&lt;&nbsp;{{win.lessThan}}</div>
                        <div class="key">L</div>
                    </button>
                </div>
            </div>
        </div>
        <div class="balance fleft">
            <div class="bal_text">balance</div>
            <input id="pct_balance" ng-model='balance' class="readonly"
                tabindex="-1" readonly="readonly">
        </div>
    </div>
</div>

        </div>
<div class="results_container">
    <div class="results_header"><div class="result"><div class="who">who</div><div class="when">when</div><div class="betid">betid</div><div class="lucky">lucky</div><div class="chance">target</div><div class="bet">bet</div><div class="payout">payout</div><div class="profit">profit</div></div></div>
    <div id="all" class="results">
<!--
        <div class="result lose imp "><div class="skinny">&nbsp;user: </div><div class="who">august85 (804639)</div><div class="skinny">&nbsp;date: </div><div class="when">2014-06-24 02:21:17</div><div class="skinny">&nbsp;betid: </div><div class="betid"><a class="" href="/roll/1269212580">1269212580</a></div><div class="skinny">&nbsp;lucky: </div><div class="lucky"><span class="s1">32.</span><span class="s2">25</span><span class="s3">88</span></div><div class="skinny">&nbsp;target: </div><div class="chance">&lt;<span class="s1">06.</span><span class="s2">00</span><span class="s3">00</span></div><div class="skinny">&nbsp;bet: </div><div class="bet">0.00000007</div><div class="skinny">&nbsp;payout: </div><div class="payout">16.5x</div><div class="skinny">&nbsp;profit: </div><div class="profit"><span class="s1">-0.00000007</span></div></div>
        <div class="result win "><div class="skinny">&nbsp;user: </div><div class="who">bud (741263)</div><div class="skinny">&nbsp;date: </div><div class="when">2014-06-24 02:21:17</div><div class="skinny">&nbsp;betid: </div><div class="betid"><a class="" href="/roll/1269212579">1269212579</a></div><div class="skinny">&nbsp;lucky: </div><div class="lucky"><span class="s1">61.</span><span class="s2">08</span><span class="s3">60</span></div><div class="skinny">&nbsp;target: </div><div class="chance">&gt;<span class="s1">50.</span><span class="s2">49</span><span class="s3">99</span></div><div class="skinny">&nbsp;bet: </div><div class="bet">0.00000001</div><div class="skinny">&nbsp;payout: </div><div class="payout">2x</div><div class="skinny">&nbsp;profit: </div><div class="profit"><span class="s1">+0.00000001</span></div></div>
        <div class="result lose "><div class="skinny">&nbsp;user: </div><div class="who">MasterGarnmile (533921)</div><div class="skinny">&nbsp;date: </div><div class="when">2014-06-24 02:21:17</div><div class="skinny">&nbsp;betid: </div><div class="betid"><a class="" href="/roll/1269212578">1269212578</a></div><div class="skinny">&nbsp;lucky: </div><div class="lucky"><span class="s1">19.</span><span class="s2">85</span><span class="s3">74</span></div><div class="skinny">&nbsp;target: </div><div class="chance">&gt;<span class="s1">50.</span><span class="s2">49</span><span class="s3">99</span></div><div class="skinny">&nbsp;bet: </div><div class="bet">0.00000001</div><div class="skinny">&nbsp;payout: </div><div class="payout">2x</div><div class="skinny">&nbsp;profit: </div><div class="profit"><span class="s1">-0.00000001</span></div></div>
-->
        <div ng-repeat="tx in transactions">
            <div class="result" ng-class="{win:tx.has_jackpot&&tx.jackpot.jackpot_received>0,lose:tx.has_jackpot&&tx.jackpot.jackpot_received<=0, in_progress:!tx.has_jackpot}">
                <div class="skinny">&nbsp;user: </div><div class="who" ng-bind='"me"'>bud (741263)</div>
                <div class="skinny">&nbsp;date: </div><div class="when" ng-bind='tx.transaction.received_time'>2014-06-24 02:21:17</div>
                <div class="skinny">&nbsp;betid: </div><div class="betid" ng-bind='tx.transaction_id_prev'><a class="" href="/roll/1269212579">1269212579</a></div>
                <div class="skinny">&nbsp;lucky: </div><div class="lucky"><span ng-if='tx.has_jackpot' ng-bind='tx.jackpot.lucky_number'><span class="s1">61.</span><span class="s2">08</span><span class="s3">60</span></span>
<span class="lucky" ng-if='!tx.has_jackpot'><img src='../img/dice.gif' alt='rolling' height='20' width='20'/></span>
                </div>
                <div class="skinny">&nbsp;target: </div><div class="chance">{{tx.jackpot.condition.hi_lo}}<span ng-bind='tx.jackpot.condition.threshould'><span class="s1">49.</span><span class="s2">50</span><span class="s3">00</span</span>></div>
                <div class="skinny">&nbsp;bet: </div><div class="bet" ng-bind='tx.jackpot.play_amount'>0.00000001</div>
                <div class="skinny">&nbsp;payout: </div><div class="payout"><span ng-bind='tx.jackpot.payouts'>2</span>x</div>
                <div class="skinny">&nbsp;profit: </div><div class="profit"><span class="s1" ng-bind='tx.jackpot.jackpot_received-tx.jackpot.play_amount' ng-if='tx.has_jackpot'>+0.00000001</span>
                    
                <span class="profit" ng-if='!tx.has_jackpot'><img src='../img/dice.gif' alt='rolling' height='20' width='20'/></span>
                </div>
            </div>
        </div>
    </div>
</div>
        <div class="panel-body">
        </div>
      </div>
    </div>
  </div>

</div>
