<div class="main-content">
  <div class="row">
    <div class="panel col-md-12">
      <div class="panel-heading">
        <div class="header">
          <div class="pull-right ">
            <a class="btn btn-primary btn-success btn-top-right" ui-sref="accounts"><i class="fa fa-bank fa-fw"></i> {{ 'index.my_account' | translate }}</a>
          </div>
            <input ng-model='amount' type='number'/>
            <h3 style="font-size:200%" translate ng-click='diceBig()'>dice.big</h3>
            <h3 style="font-size:200%" translate ng-click='diceSmall()'>dice.small</h3>
        </div>
        <div class="panel-body">
        </div>
      </div>
    </div>
  </div>

</div>
